version: "3"

services:
  wikipathways-virtuoso:
    image: openlink/virtuoso-opensource-7:7.2.11
    restart: always
    container_name: wikipathways-virtuoso
    volumes:
      - VIRTUOSO_DB_PERSISTENT_DIR:/database # directory to persist the Virtuoso database. If empty dir, a new database will be created
    environment:
      - DBA_PASSWORD=dbaisapasswordthatshouldbeupdated
      - SPARQL_UPDATE=false
  snorql:
    image: aammar/snorql-httpd:latest
    restart: always
    container_name: wikipathways-snorql
#    volumes:
#      - /home/MarvinMartens/snorql-extended:/usr/local/apache2/htdocs # To customize the snorql interface, clone the GitHub repo and use its directory as SNORQL_WEB_FILES_DIR
    environment:
      - SNORQL_ENDPOINT=https://plantmetwiki.bioinformatics.nl/sparql # virtuoso endpoint
      - SNORQL_EXAMPLES_REPO=https://github.com/pathway-lod/SPARQLQueries
      - SNORQL_TITLE=Plant Metabolic Pathways Wiki SNORQL UI 
      - DEFAULT_GRAPH=http://rdf.plantwiki.org/
    ports:
      - "4430:443"
